* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui, sans-serif;
}

body {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0f0f0f;
}

.yt {
  display: flex;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 5%;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: Roboto;
    font-weight: 100;
  }
}

.counter-wrapper {
  text-align: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 14px;
  letter-spacing: 3px;
  color: #aaa;
  margin-bottom: 10px;
}

#counter {
  font-size: 96px;
  font-weight: 700;
  letter-spacing: -2px;
}

.counter {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
}
img {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 4/4;
  border-radius: 50%;
}

.channel {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  h1 {
    font-weight: 100;
  }
}
